<div class="max-w-lg px-4 mx-auto sm:max-w-3xl sm:px-6 lg:max-w-7xl lg:px-8">
  <div class="relative px-6 py-10 overflow-hidden sm:px-12 sm:py-20">
    <div class="relative">
      <div class="sm:text-center">
        <h2 class="text-3xl font-extrabold tracking-tight text-white sm:text-4xl">
          fx(party)
        </h2>
        <p class="max-w-2xl mx-auto mt-6 text-lg font-bold text-white">
          Track your fx(hash) portfolio!
        </p>
      </div>
      <form action="/search" class="mt-12 sm:mx-auto sm:max-w-3xl sm:flex">
        <div class="flex-1 min-w-0">
          <input id="wallet" name="wallet" type="text" class="block w-full px-5 py-3 text-base text-gray-900 placeholder-gray-500 border border-transparent rounded-md shadow-sm focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-black-500" placeholder="Enter your tezos wallet address">
        </div>
        <div class="mt-4 sm:mt-0 sm:ml-3">
          <button type="submit" class="block w-full px-5 py-3 text-base font-medium text-white bg-blue-500 border border-transparent rounded-md shadow hover:bg-blue-800 focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-black-500 sm:px-10">View my portfolio</button>
        </div>
      </form>
      <div class="mt-20 text-sm text-center text-gray-500">
        <p>Made by <a href="https://twitter.com/Shpigford" class="text-blue-500 hover:text-blue-200">@Shpigford</a>. Help keep the server hamsters fed: <b>joshpigford.tez</b></p>
      </div>
    </div>
  </div>
</div>