<%= render "layouts/head" %>

    <div class="min-h-full bg-gray-100">
      <nav class="bg-black">
        <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
          <div class="flex items-center justify-between h-16">

              <div class="flex-shrink">
                <span class="font-bold text-white"><a href="/">fx(party)</a></span>
                <span class="text-xs text-gray-400">by <b><a href="https://twitter.com/Shpigford">joshpigford.tez</a></b></span>
              </div>
              
              <div class="flex justify-center flex-1 px-2 lg:ml-6 lg:justify-end">
                <form action="/search" class="w-full max-w-lg lg:max-w-md">
                  <label for="search" class="sr-only">Search</label>
                  <div class="relative">
                    <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                      <i class="text-gray-400 fa-duotone fa-wallet"></i>
                      
                    </div>
                    <input id="search" name="wallet" class="block w-full py-2 pl-10 pr-3 leading-5 text-gray-300 placeholder-gray-400 bg-gray-700 border border-transparent rounded-md focus:outline-none focus:bg-white focus:border-white focus:ring-white focus:text-gray-900 sm:text-sm" placeholder="tezos wallet address" type="search">
                  </div>
                </form>
              </div>

            
            
          </div>
        </div>
      </nav>

      <%= yield %>

      
    </div>

<%= render "layouts/footer" %>
